.index-point {
    width: 30px;
    height: 30px;
    background-color: tan;
    display: inline-block;
}

.index-point:hover {
    font-weight: bold;
}

.index-point-selected {
    background-color: orange;
}