body {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-color: transparent;
    padding: 5px;
}

.col-md-2 {
    padding-top: 60px;
}

.logo {
    font-size: 130px;
}

.color {
    color: #f60;
}

.light {
    font-weight: 300;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #f60;
}

button:hover {
    color: black;
}

button:focus {
    outline: 0;
}

.index-point {
    font-size: 9px;
    text-align: center;
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    display: inline-block;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid darkgrey;
}

.index-point:hover {
    font-weight: bold;
    border: 2px solid darkgrey;
    cursor: default;
}

.index-point-selected {
    background-color: #f60;
    font-weight: bold;
    border: 2px solid darkgrey;
    color: white;
}

.index-nav {
    margin-top: 30px;
    margin-bottom: 5px;
}
